[submodule "third_party/xbyak"]
	path = third_party/xbyak
	url = https://github.com/herumi/xbyak.git
[submodule "third_party/xbyak_aarch64"]
	path = third_party/xbyak_aarch64
	url = https://github.com/fujitsu/xbyak_aarch64.git
